.titre{
  text-align: center;
  margin: 10px;
}
.tableau{
  margin: 10px auto;
  font-size: 20px;
}
.tableau tr{
  border: 3px solid purple;
}
.tableau td{
  padding: 10px;
  text-align: center;
  min-width: 200px;
}
.tableau tr td:nth-child(1){
  border-right: 1px solid green;
}

